{{ define "footer" }}
<!-- Footer -->
<div id="page-footer">
    <p>
        <a href="https://developers.google.com/identity/protocols/OAuth2">
            Google OAuth2
        </a>
        implementation on
        <a href="https://github.com/knative/">
            Knative
        </a>
        with
        <a href="https://firebase.google.com/docs/firestore/">
            Cloud Firestore
        </a>
        persistence
    </p>
    <p>
        <b>Source:</b>
        <a href="https://github.com/mchmarny/gauther">
            github.com/mchmarny/gauther
        </a>
    </p>
</div>


</div>


</body>

</html>
{{ end }}