{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>GAuther - Google OAuth2 implementation on Knative with Cloud Firestore persistence</title>
    <meta charset="UTF-8">
    <meta name="description" content="GAuther - Google OAuth2 implementation on Knative with Cloud Firestore persistence">
    <meta name="keywords" content="google, oauth, golang, knative">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/img/favicon.ico" rel="shortcut icon" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="static/css/app.css" />
</head>

<body>

    <div id="wrapper">

        <!-- Header -->
        <div id="page-header">
            <div id="page-header-image">
                <img src="static/img/knative-logo.png" />
            </div>
            <div id="page-header-title">
                GAuth on Knative
            </div>
        </div>


        {{end}}