{{ define "home" }}

{{ template "header" . }}


<div id="middle-section">
    {{if .email}}

    <!-- Middle (Authed) -->
    <h3>{{.name}}</h3>
    <div class="pic">
        <img src="{{.picture}}" width="200" />
    </div>

    <div class="email">
        Signed in as: {{.email}}
    </div>
    <div class="logout">
        <a href="/auth/logout" id="logout-button">Sign Out</a>
    </div>

    {{else}}

    <!-- Middle (Anon) -->
    <div class="login">
        <a href="/auth/login">
            <img src="static/img/sign-in.png" />
        </a>
    </div>


    {{end}}
</div>

{{ template "footer" . }}

{{ end }}